<%= form_for(message, remote: true) do |form| %>

  <%= form.hidden_field :room_id, value: room.id %>

  <div class="input-group" style="display: flex;align-items: center">
    <%= form.text_field :content, placeholder: "Type your message here...", class: 'form-control' %>
    <div class="input-group-append">
      <%= form.submit "Add Message", class: " btn-primary padding" , id:'chat-btn'  %>
    </div>
  </div>
<% end %>
