<%= form_for(@message, remote: true) do |form| %>
  <div class="input-group" style="display: flex; align-items: center;">
    <%= form.text_field :content, placeholder: "Type your message here...", class: 'form-control' %>
    <div class="input-group-append">
      <%= form.submit "Cập nhật", class: "btn btn-primary", id: 'chat-btn' %>
    </div>
  </div>
<% end %>
