GITHUB_CLIENT_ID: 'YOUR_KEY'
GITHUB_CLIENT_SECRET: 'YOUR_KEY'
GOOGLE_CLIENT_ID: 'YOUR_KEY'
GOOGLE_CLIENT_SECRET: 'YOUR_KEY'
FACEBOOK_APP_ID: 'YOUR_KEY'
FACEBOOK_APP_SECRET: 'YOUR_KEY'
SLACK_API: 'YOUR_KEY'
SLACK_HOOK: 'YOUR_KEY'
SENTRY_DNS: 'YOUR_KEY'
SENTRY_URL: 'YOUR_KEY'