<%= form_with(model: @micropost, method: :patch, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :content, 'Edit Content' %>
    <%= form.text_area :content, class: 'form-control', rows: 4, placeholder: 'Edit your post content' %>
  </div>
  <%= form.submit 'Save Changes', class: 'btn btn-success' %>
<% end %>
